/*Google Web Fonts imports*/
@import url(http://fonts.googleapis.com/css?family=Rock+Salt|Oxygen);

/*common css*/
body {
  margin: 0;
  margin-top: 36px;
  color: #333;
}

#container {
  font-size: 10pt;
  font-family: 'Oxygen', sans-serif;
}

#header-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  padding-left: 8px;
  
  background-color: #060;
  color: white;
  
  border-bottom: 1px solid #1F4A1B;
}

#header-bar-left {
  float: left;
  font-size: 12pt;
}

#header-bar-right {
  float: right;
  padding-top: 10px;
  padding-right: 8px;
}

.logo {
  font-family: 'Rock Salt', cursive;
}
