.thesis-container {
  display: inline-block;
  vertical-align: top;
  
  max-width: 400px;
  height: 350px;
  
  overflow: auto;
  
  margin-top: 10px;
  margin-left: 10px;
  
  border-radius: 5px;
  background-color: #F6F6F6;
  border: 1px solid #ccc;   
}

.thesis-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thesis {
  padding: 5px;
  font-size: 16pt;
  color: #333;
}

.argument {
  padding: 5px;
  border-top: 1px solid #ccc;
  margin: 3px;
  font-size: 11pt;
}

.votes {
  font-size: 8pt;
  font-weight: bold;
  padding-left: 6px;
  vertical-align: middle;
}

.votes a {
  color: inherit;
  text-decoration: none;
}

.votes a:hover {
  color: inherit;
  text-decoration: underline;
}

.pro {
  color: #3E6147;
}

.con {
  color: #6B3E41;
}

.thesis input {
  width: 300px;
  border: none;
  background-color: inherit;
  font-size: inherit;
  padding: inherit;
  color: inherit;
  font-family: inherit;
  margin: inherit;
}

.sub {
  height: 280px;
  float: left;
  margin-top: 75px;
}

.create {
  width: 400px;
  height: auto;
  margin-left: -400px;
}

.edit {
  color: #999;
}