.thesis-container {
  display: inline-block;
  
  width: 400px;
  max-height: 400px;

  vertical-align: top;

  overflow: auto;
  
  margin-top: 20px;
  margin-left: 20px;
  
  border-radius: 5px;
  background-color: #F0F0F0;
}

.thesis-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thesis {
  padding: 5px;
  font-size: 16pt;
  color: #333;
}

.thesis a {
  color: inherit;
  text-decoration: none;
}

.argument {
  padding: 5px;
  border-top: 1px solid #fff;
  font-size: 11pt;
}

.votes {
  font-size: 8pt;
  font-weight: bold;
  padding-left: 6px;
  vertical-align: middle;
}

.votes a {
  color: inherit;
  text-decoration: none;
}

.votes a:hover {
  color: inherit;
  text-decoration: underline;
}

.pro {
  color: #3E6147;
}

.con {
  color: #6B3E41;
}

.thesis input {
  width: 300px;
  border: none;
  background-color: inherit;
  font-size: inherit;
  padding: inherit;
  color: inherit;
  font-family: inherit;
  margin: inherit;
}

.sub {
  margin-top: 85px;
  margin-left: -405px;
}

.create {
  border: none;
  background-color: inherit;
  font-size: inherit;
  padding: inherit;
  font-family: inherit;
  margin: inherit;
}

.createArgument input {
  width: 300px;
  border: none;
  background-color: inherit;
  font-size: inherit;
  padding: inherit;
  font-family: inherit;
  margin: inherit;
}

.edit {
  color: #999;
}

.error {
  text-align: center;
  font-weight: bold;
}

.detail {
  width: 100%;
  max-width: 840px;
  height: auto;
  max-height: none;
}

.votes input {
  width: 95%;
}


.block {
  display: block;
}

.nowrap {
  white-space : nowrap;
}

.top5 {
  margin-top: 5px;
}
