<span class="thesis-container createThesis">
  <form ng-submit="addThesis()">
    <ul>
      <li class="thesis">
        <span class="edit">&#9998;</span>
        <input type="text" ng-model="thesisText" placeholder="Your new thesis here..."> 
      </li>
    </ul>
  </form>
</span>

<span ng-class="{sub : $first}" class="thesis-container" ng-repeat="thesis in theses">
  <ul>
      <a href="#/theses/{{thesis.Id}}"><li class="thesis" title="{{thesis.Text}}">{{ellipsize(thesis.Text, 100)}}</a></li>
      <li class="argument" title="{{argument.Text}}" ng-class="{con : argument.Contra , pro : !argument.Contra}" ng-repeat="argument in thesis.Arguments | orderBy:'-Votes' | limitTo:2">{{ellipsize(argument.Text, 180)}}<span class="votes"><a href="#">+{{argument.Votes}}</a></span></li>
      <li class="argument createArgument">
        <span class="edit">&#9998;</span>
        <input type="text" ng-model="argumentText" placeholder="Your new argument here...">
      </li>
  </ul>
</span>
